
<div class="container text-center">
  <div class="row" >
    
<h1  style="font-family: 'Montserrat', cursive;color: rgb(247, 183, 194);">Skincare </h1>
    <div class="col"><div class="card" style="width: 18rem;">
    
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/8/8/88a48a1THECI00000026_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">The Ordinary Niacinamide 10% + Zinc 1% High Strength
(30ml)</h5>
    <p class="card-text"></p>
  </div>
  
</div></div>
    <div class="col"><div class="card" style="width: 18rem;">
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/b/3/b3a9412DOTKE00000213_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dot & Key Vitamin C + E Super Bright Sunscreen SPF 50+ PA, In-Vivo Tested</h5>
    <p class="card-text"></p>
    
  </div>
</div></div>
    <div class="col"><div class="card" style="width: 18rem;">
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/b/1/b1d618aCETAP00000113_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cetaphil Oily Skin Cleanser
(236ml)</h5>
    <p class="card-text"></p>
    
  </div>
</div></div>
    <div class="col"><div class="card" style="width: 18rem;">
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/b/d/bd8947486800687900_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Neutrogena UltraSheer Dry Touch Sunblock SPF 50+ For Men
(80g)</h5>
    <p class="card-text"></p>
    
  </div>
</div></div>
<h1 style="font-family: 'Montserrat', cursive;color: rgb(247, 183, 194);">Hair Care</h1>
<div class="col"><div class="card" style="width: 18rem;">
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/6/c/6c06c84MATRI00000051_0.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Matrix Mega Smooth Sulfate-free Shampoo, Gentle Cleansing & Bond Repair, Safe for Treated Hair
(200ml)</h5>
    <p class="card-text"></p>
    
  </div>
</div></div>
<div class="col"><div class="card" style="width: 18rem;">
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/8/0/80eb7d9WISHC00000042_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Wishcare Hair Growth Serum Concentrate|In-Vivo Tested|Redensyl, Anagain, Biotin,Keratin & Rice Water
(30ml)</h5>
    <p class="card-text"></p>
   
  </div>
</div></div>
<div class="col"><div class="card" style="width: 18rem;">
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/c/a/ca1b359NYKAB00001286_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">
Nykaa Naturals Fermented Rice Water & Hyaluronic Acid Sulphate-Free Conditioner for Frizz-Free Hair
(200ml)</h5>
    <p class="card-text"></p>
    
  </div>
</div></div>
<div class="col"><div class="card" style="width: 18rem;">
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/0/2/0290a89BARAD00000108_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Bare Anatomy Oil Control Shampoo Sulphate-Free For Oily Scalp
(236ml)
</h5>
    <p class="card-text"></p>
    
  </div>
</div></div>
<h1 style="font-family: 'Montserrat', cursive;color: rgb(247, 183, 194);">Lipsticks & Lipcare</h1>
<div class="col"><div class="card" style="width: 18rem;">
    
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/5/8/58f72865060542728485_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Charlotte Tilbury Matte Revolution - Pillow Talk Medium
(3.5g)</h5>
    <p class="card-text"></p>
    
  </div>
  
</div></div>
    <div class="col"><div class="card" style="width: 18rem;">
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/f/a/fa946f18809925137554_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">LANEIGE Lip Glowy Balm Berry Fruits Rouges
(10g)</h5>
    <p class="card-text"></p>
    
  </div>
</div></div>
    <div class="col"><div class="card" style="width: 18rem;">
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/4/b/4bb8800607710102248_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Smashbox Always On Mini Liquid Lipstick - Gulabae
(0.9ml)</h5>
    <p class="card-text"></p>
   
  </div>
</div></div>
    <div class="col"><div class="card" style="width: 18rem;">
  <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/b/7/b7318a917010_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">PIXI Liptone Trio ( Goldgleam, Pinkpatina & Snowpearl)
(36ml)</h5>
    <p class="card-text"></p>
    
  </div>
</div></div>
  </div>
 
</div>
